<h1>Photogur</h1>

<p><%= link_to "Free Pictures Only", pictures_path(:free => "yes") %></p>
<p><%= link_to "Add a new picture", new_picture_path %></p>

  <% @pictures.each do |picture| %>
  <li> <%=button_to "Edit", edit_picture_path(picture), :method => :get %> </li<br>
  <%= picture.title %><br>
  <%= picture.artist %><br>
  <%= image_tag picture.url %>
  <% end %>